<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id} (id=${book.getId()})}" th:object="${book}">

    <label for="title">Title book</label>
    <input type="text" th:field="*{title}" id="title"/>
    <br/>
    <label for="author">Author name</label>
    <input type="text" th:field="*{author}" id="author"/>
    <br/>
    <label for="year">Manufacturing year</label>
    <input type="text" th:field="*{publicationYear}" id="year"/>
    <br/>
    <input type="submit" value="Update book"/>

</form>
</body>
</html>