<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
    <p th:text="${book.getTitle()} + ' ' + ${book.getAuthor()} + ' ' + ${book.getPublicationYear()}">Book</p>
    <br/>
    <form th:if="${book.getPeople_id() == 0}" th:method="PATCH" th:action="@{/books/{id}/add (id=${book.getId()})}" th:object="${book}">
        <label for="book">Эта книга свободна. Кому ее назначить?</label>
        <br/>
        <select th:object="${person}"  th:field="*{id}" id="book">
            <option th:each="p : ${people}" th:value="${p.getId()}" th:text="${p.getName()}">ФИО человека</option>
        </select>
        <br/>
        <input type="submit" value="Назначить">
    </form>

    <form th:unless="${book.getPeople_id() == 0}">
        <a th:text="${'Эта книга занята: ' + people.get(book.getPeople_id()).getName()}">Эта книга занята.</a>
    </form>

    <br/>

    <a th:href="@{/books/{id}/edit (id=${book.getId()})}">Редактировать книгу</a>
    <br/>
    <hr/>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить книгу">
    </form>
</body>
</html>