<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация</title>
</head>
<body>
    <p th:text="${book.toString()}">Книга</p>


    <div th:if="${owner}">
        <b>Книга взята:</b>
        <p th:text="${owner.toString()}">Человек</p>
        <form th:method="PATCH" th:action="@{/books/{id}/freeBook (id=${book.getId()})}">
            <input type="submit" value="Освободить книгу">
        </form>
    </div>

    <div th:if="${people}">
        <b>Эта книга свободна. Кому назначить ее?</b>
        <form th:method="PATCH" th:action="@{/books/{id}/addPerson (id=${book.getId()})}">
            <label for="person">Выберите человека:</label>
            <select th:object="${person}" th:field="*{id}" id="person">
                <option th:each="p : ${people}" th:value="${p.getId()}" th:text="${p.getName()}">ФИО человека</option>
            </select>
            <input type="submit" value="Назначить книгу"/>
        </form>
    </div>


    <hr/>
    <form th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Редактировать книгу">
    </form>
    <br/>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить книгу">
    </form>

</body>
</html>